django<4.0
djangorestframework
django-cors-headers
channels
channels-redis
daphne
pymongo==3.12.3
djongo==1.3.6
dnspython
djangorestframework-simplejwt
python-dotenv
Pillow
sqlparse<0.5
google-genai

